.container {
  max-width: 335px;
  width: 100%;
  margin: auto;
}
@media (min-width: 600px) {
  .container {
    max-width: 550px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 800px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}
