.header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  z-index: 1000;
  background-color: #ffff;
  color: #000;
  box-shadow: 3px 3px 14px 0px #cccc;
  border-radius: 7px;
  width: 100%;
}
.header ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block: 20px;
  width: 100%;
}
.header ul li a {
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 10px;
}
.cart {
  scale: 1.3;
}
.products {
  scale: 1.2;
}
.active {
  position: relative;
}
.active:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 100%;
  bottom: -8px;
}
@media (min-width: 600px) {
  .header ul {
    justify-content: space-evenly;
    gap: 0;
  }
  .header ul li a {
    flex-direction: row-reverse;
    font-size: 20px;
  }
  .header ul li a img {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 1024px) {
  .header ul li a {
    font-size: 22px;
  }
  .header ul li a img {
    width: 22px;
    height: 22px;
  }
}
