.footer {
  margin-bottom: 20px;
}
.footer ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  list-style: none;
  background-color: aliceblue;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 14px 0px #cccc;
  width: 100%;
  gap: 20px;
}
.interest {
  grid-row: 2;
  grid-column: 1/3;
}
.date {
  grid-row: 3;
  grid-column: 1/3;
}
@media (min-width: 600px) {
  .footer ul {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .interest {
    grid-row: auto;
    grid-column: auto;
  }
  .date {
    grid-row: auto;
    grid-column: 1/4;
  }
}
@media (min-width: 1024px) {
  .footer ul {
    font-size: 19px;
  }
}
@media (min-width: 1400px) {
  .footer ul {
    display: flex;
  }
  .date {
    margin-left: auto;
  }
}
