.navList {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 20px;
  background-color: #ffff;
  padding: 20px;
  border-radius: 7px;
  color: #000;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  box-shadow: 3px 3px 14px 0px #cccc;
}
.navList li a {
  font-size: 22px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}
.cart {
  scale: 1.3;
}
.home {
  scale: 1.4;
}
.products {
  scale: 1.2;
}
